{% extends 'base.html' %}
{% load static %}



{% block content %}
   
  
 
  <div class="main-content-wrapper section-padding-100" style="background-image: url(static/img/blog-img/bg2.jpg);">
    <div class="container" style="background-image: url(static/img/blog-img/bg2.jpg);">
        <div class="row justify-content-center" style="background-image: url(static/img/blog-img/bg2.jpg);">
            <!-- ============= Post Content Area Start ============= -->
            <div class="col-12 col-lg-8" style="background-image: url(static/img/blog-img/bg2.jpg);">
                <div class="post-content-area mb-100">
                    <!-- Catagory Area -->
                    <div class="world-catagory-area">
                      
                     {% if user.is_authenticated %}
                        <div class="tab-content" id="myTabContent" style="background-image: url(static/img/blog-img/bg2.jpg);">

                            <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1" style="background-image: url(static/img/blog-img/bg2.jpg);">
                                <!-- Single Blog Post -->
                                <div class="single-blog-post post-style-4 d-flex align-items-center">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="{{ post.ImageUrl }}" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="headline">
                                            <h5>{{ post.title }}</h5>
                                        </a>
                                        <p>{{ post.body }}</p>
                                          <p><a href="{% url 'reaction' post.id 'like' %}"><i class="bi bi-hand-thumbs-up-fill"></i> {{ post.like }}</a></p>
                                          <a href="{% url 'reaction' post.id 'dislike' %}"><i class="bi bi-hand-thumbs-down"></i>{{ post.dislike }}</a><p></p> 
                                        <!-- Post Meta -->
                                        <div class="post-meta">
                                          
                                            <p><a href="#" class="post-author">{{ post.author }}</a> on <a href="#" class="post-date">{{ post.update_date }} am</a></p>
                                            
                                        </div>
                                      
                                    </div>
                                </div>  <div>
                                   
                                         
                                          
                                             
                                          
                                          
                                          <form method="POST" >
                                               {% csrf_token %}
                                               {{ form.as_p }}
                                              <button type="submit" > sand </button>
                                            
                                    <hr>
                                          </form>
                                          <!-- commentga qushimcha fikir -->
                                          <div class="mb-3">
                                      
                                                        
                                            
                
                                                
                                            
                                            {% for com in comments %}  
                                            
                                            <li>
                                              <form method="POST" > 
                                                      
                                                      {% csrf_token %}
                                                        <!-- <label for="">{{ com.body }} </label>   -->
                                                        <p style="color:rgb(12, 135, 55)">{{com.body}}</p>
                                                        <input type="text" name="thought" placeholder="qo'shimcha fikir bildirish" >
                                                        <div style="display:none;">
                                                        <input type="text" name="think" value={{com.id}}></div>
                                                        <button type="submit">sand</button> <hr>

                     
                                                        
                                                    </form>
                                                      </li>
                                                          

                                                        
                                                        {% endfor %}
                                            </div>
                                           <!-- end commentga qushimcha fikir -->
                                                          
                                                    

                                        </div>

                       
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>

         
            
        </div>
     

        
    </div>

</div> 
 <a href="{% url 'update' post.id %}"> update post </a> <br>
  
  <a href="{% url 'delete' post.id %}"> delete post </a>
    {% else %}
      <h1>
        Siz ruyxatdan utmagansiz:
        <a href="{% url 'login' %}">LOGIN </a> or
        <a href="{% url 'register' %}">SIGNUP</a>
      </h1>
  
  {% endif %} 


{% endblock content %}
  
  


  

